XrAnatomy2UITests/*
XrAnatomy2Tests/*
XrAnatomy.xcodeproj/project.xcworkspace/xcuserdata/alikara.xcuserdatad/UserInterfaceState.xcuserstate
XrAnatomy/project.pbxproj
.DS_Store
XR Anatomy/Preview Content/.DS_Store
XR Anatomy/Assets.xcassets/.DS_Store
XR Anatomy/.DS_Store
XR Anatomy Vision/Assets.xcassets/.DS_Store
XR Anatomy Vision/.DS_Store
Shared/.DS_Store
.DS_Store
.DS_Store
