<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIcons.CFBundlePrimaryIcon</key>
	<string>AppIcon</string>
	<key>CFBundleIconsForVisionOS</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<string>AppIcon</string>
	</dict>
	<key>CFBundleIconsForVisionOS.CFBundlePrimaryIcon</key>
	<string>AppIcon</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_xr-anatomy._tcp</string>
		<string>_xr-anatomy._udp</string>
	</array>
	<key>NSHandsTrackingUsageDescription</key>
	<string>This app uses hand tracking for gestures and interactions.</string>
	<key>NSWorldSensingUsageDescription</key>
	<string>This app places 3D content in the real world for an AR experience.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleFull</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
